* {
  box-sizing: border-box;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: calc(66.2px * 8);
  height: calc(66.2px * 8);
  display: flex;
  flex-wrap: wrap;
  border: 5px solid rgb(100, 10, 10);
}

.cell {
  width: 65px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.black {
  background-color: rgb(100, 10, 10);
}

.white {
  background-color: burlywood;
}