* {
  box-sizing: border-box;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: calc(70px * 8);
  height: calc(70px * 8);
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(32, 94, 14);
}

.cell img {
  width: 60px;
  height: 60px;
  position: relative;
}

.black {
  background-color: rgb(25, 132, 64);
}

.white {
  background-color: rgb(237, 230, 220);
}

.selected {
  background-color: rgb(16, 59, 176);
}

.free {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(223, 46, 33);
}

.eaten {
  height: calc(50vh - 60px);
  padding: 30px;
  margin-left: 50px;
  background-color: lightgray;
}